<ion-header>
  <ion-toolbar color="danger">
    <ion-title text-center>
      Unbeatable
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="restart()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tr>
      <td  class="cell" [ngClass]="getClass(0)" (click)="turnClick(0)">{{origBoard[0] == 0 ? '' : origBoard[0] }}</td>
      <td class="cell" [ngClass]="getClass(1)" (click)="turnClick(1)">{{origBoard[1] == 1 ? '' : origBoard[1]}}</td>
      <td class="cell" [ngClass]="getClass(2)" (click)="turnClick(2)">{{origBoard[2] == 2 ? '' : origBoard[2]}}</td>
    </tr>
    <tr>
      <td class="cell" [ngClass]="getClass(3)" (click)="turnClick(3)">{{origBoard[3] == 3 ? '' : origBoard[3]}}</td>
      <td class="cell" [ngClass]="getClass(4)" (click)="turnClick(4)">{{origBoard[4] == 4 ? '' : origBoard[4]}}</td>
      <td class="cell" [ngClass]="getClass(5)" (click)="turnClick(5)">{{origBoard[5] == 5 ? '' : origBoard[5]}}</td>
    </tr>
    <tr>
      <td class="cell" [ngClass]="getClass(6)" (click)="turnClick(6)">{{origBoard[6] == 6 ? '' : origBoard[6]}}</td>
      <td class="cell" [ngClass]="getClass(7)" (click)="turnClick(7)">{{origBoard[7] == 7 ? '' : origBoard[7]}}</td>
      <td class="cell" [ngClass]="getClass(8)" (click)="turnClick(8)">{{origBoard[8] == 8 ? '' : origBoard[8]}}</td>
    </tr>
  </table>

  <div class="endgame">
    <div class="text"></div>
  </div>

</ion-content>
